/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	fragment@0 {
		target-path = "/";

		__overlay__ {
			backlight: backlight {
				compatible = "pwm-backlight";
				pwms = <&pwm1_6ch_2 0 25000 0>;
				brightness-levels = <
					0  20  20  21  21  22  22  23
					23  24  24  25  25  26  26  27
					27  28  28  29  29  30  30  31
					31  32  32  33  33  34  34  35
					35  36  36  37  37  38  38  39
					40  41  42  43  44  45  46  47
					48  49  50  51  52  53  54  55
					56  57  58  59  60  61  62  63
					64  65  66  67  68  69  70  71
					72  73  74  75  76  77  78  79
					80  81  82  83  84  85  86  87
					88  89  90  91  92  93  94  95
					96  97  98  99 100 101 102 103
					104 105 106 107 108 109 110 111
					112 113 114 115 116 117 118 119
					120 121 122 123 124 125 126 127
					128 129 130 131 132 133 134 135
					136 137 138 139 140 141 142 143
					144 145 146 147 148 149 150 151
					152 153 154 155 156 157 158 159
					160 161 162 163 164 165 166 167
					168 169 170 171 172 173 174 175
					176 177 178 179 180 181 182 183
					184 185 186 187 188 189 190 191
					192 193 194 195 196 197 198 199
					200 201 202 203 204 205 206 207
					208 209 210 211 212 213 214 215
					216 217 218 219 220 221 222 223
					224 225 226 227 228 229 230 231
					232 233 234 235 236 237 238 239
					240 241 242 243 244 245 246 247
					248 249 250 251 252 253 254 255
				>;
				default-brightness-level = <200>;
			};
		};
	};

	fragment@1 {
		target = <&pwm1_6ch_2>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&pwm1m1_ch2>;
		};
	};

	fragment@2 {
		target = <&route_dsi>;

		__overlay__ {
			status = "okay";
			connect = <&vp2_out_dsi>;
		};
	};

	fragment@3 {
		target = <&dsi_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target = <&dsi_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target = <&dsi_in_vp2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&dsi_in_vopl>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@7 {
		target = <&vp2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&dsi>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			//rockchip,lane-rate = <1000>;

			dsi_panel: panel@0 {
				status = "okay";
				compatible = "simple-panel-dsi";
				reg = <0>;
				backlight = <&backlight>;
				power-supply = <&mipi_dsi_power>;
				reset-gpios = <&gpio1 RK_PC1 GPIO_ACTIVE_LOW>;

				enable-delay-ms = <120>;
				prepare-delay-ms = <20>;
				reset-delay-ms = <10>;
				init-delay-ms = <0>;
				unprepare-delay-ms = <20>;
				disable-delay-ms = <50>;

				size,width = <69>;
				size,height = <139>;


				// dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET | MIPI_DSI_CLOCK_NON_CONTINUOUS)>;
				dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM) >;
				dsi,format = <MIPI_DSI_FMT_RGB888>;
				dsi,lanes  = <2>;

				panel-init-sequence = [
					05 78 01 11
					39 00 06 FF 77 01 00 00 11
					15 00 02 D1 11
					15 00 02 55 B0
					39 00 06 FF 77 01 00 00 10
					39 00 03 C0 63 00
					39 00 03 C1 09 02
					39 00 03 C2 37 08
					15 00 02 C7 00
					15 00 02 CC 38
					39 00 11 B0 C0 0C 92 0C 10 05 02 0D 07 21 04 53 11 6A 32 1F
					39 00 11 B1 C0 87 CF 0C 10 06 00 03 08 1D 06 54 12 E6 EC 0F
					39 00 06 FF 77 01 00 00 11
					15 00 02 B0 5D
					15 00 02 B1 62
					15 00 02 B2 82
					15 00 02 B3 80
					15 00 02 B5 42
					15 00 02 B7 85
					15 00 02 B8 20
					15 00 02 C0 09
					15 00 02 C1 78
					15 00 02 C2 78
					15 00 02 D0 88
					15 64 02 EE 42	
					39 00 04 E0 00 00 02 
					39 00 0C E1 04 A0 06 A0 05 A0 07 A0 00 44 44
					39 00 0D E2 00 00 33 33 01 A0 00 00 01 A0 00 00
					39 00 05 E3 00 00 33 33
					39 00 03 E4 44 44
					39 00 11 E5 0C 30 A0 A0 0E 32 A0 A0 08 2C A0 A0 0A 2E A0 A0
					39 00 05 E6 00 00 33 33
					39 00 03 E7 44 44
					39 00 11 E8 0D 31 A0 A0 0F 33 A0 A0 09 2D A0 A0 0B 2F A0 A0
					39 00 08 EB 00 01 E4 E4 44 88 00
					39 00 11 ED FF F5 47 6F 0B A1 A2 BF FB 2A 1A B0 F6 74 5F FF
					15 00 02 EE 42
					39 00 06 FF 77 01 00 00 00
					15 00 02 36 00
					15 00 02 3A 70
					05 C8 01 11	
					05 32 01 29	
				];

				panel-exit-sequence = [
				05 00 01 28
				05 00 01 10
				];

				disp_timings0: display-timings {
					native-mode = <&dsi_timing0>;
					dsi_timing0: timing0 {
						clock-frequency = <28945000>;
						hactive = <480>;
						vactive = <800>;
						hsync-len = <60>;
						hback-porch = <10>;
						hfront-porch = <50>;
						vsync-len = <29>;
						vback-porch = <21>;
						vfront-porch = <5>;
						hsync-active = <0>;
						vsync-active = <0>;
						de-active = <0>;
						pixelclk-active = <1>;
					};
				};

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						panel_in_dsi: endpoint {
							remote-endpoint = <&dsi_out_panel>;
						};
					};
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@1 {
					reg = <1>;
					dsi_out_panel: endpoint {
						remote-endpoint = <&panel_in_dsi>;
					};
				};
			};
		};
	};

	fragment@9 {
		target = <&i2c2>;

		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c2m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock-frequency = <400000>;
			status = "okay";

			ft5316_dsi0: ft5316@38 {
				status = "okay";
				compatible = "focaltech,ft5316";
				reg = <0x38>;
				interrupt-parent = <&gpio0>;
				interrupts = <RK_PD0 IRQ_TYPE_LEVEL_LOW>;
				reset-gpios = <&gpio0 RK_PD1 GPIO_ACTIVE_LOW>;
				irq-gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;

				touchscreen-size-y = <800>;
				touchscreen-size-x = <480>;
				
				// touchscreen-inverted-x;  // x轴反转
				// touchscreen-inverted-y;  // x轴反转
				// touchscreen-swapped-x-y; // xy反转

			};
		};
	};
};
